* {
    transition: all ease .3s;   
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;    
    font-family: "Lato", sans-serif;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, .2);
    border-radius: 5px;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-ac {
    align-items: center;
}

.flex-sb {
    justify-content: space-between;
}

.flex-sa{
    justify-content: space-around;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    background: url(images/background.png) no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
}

.chats {
    width: 5%;

    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 0;
}

.chats--chat1 {
    background-color: #FF5733;
    padding: 12px;
    border-radius: 50%;
    opacity: .5;
    margin-top: 20px;
    cursor: pointer;
}

.chats--chat1:hover {
    opacity: 1;
}

.chats--append {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #fff;
    opacity: .1;
    width: 25px;
    height: 25px;

    padding: 12px;
    border-radius: 50%;
    margin-top: auto;
    cursor: pointer;
}

.chats--append:hover {
    opacity: 1; 
}

.channels {
    width: 20%;
    padding: 0 25px;

    background: rgba(37, 39, 42, 0.7);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
}

.chat-area {
    width: 55%;

    background-color: #fff;
}

.user-info {
    width: 20%;

    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
}

.channels--setting {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    color: #fff;
    font-size: 20px;
    font-weight: 700;
}

.channels--treads {
    width: 25%;
    color: #B5B5B5;
    font-size: 14px;
    font-weight: 400;
}

.list--header {
    color: #B5B5B5;
    font-size: 12px;
    font-weight: 700;
}

.list--chats {
    height: 100%;
    overflow-y: auto;
}

.chats--channel {
    font-weight: 400;
    font-size: 14px;
    color: #B5B5B5;

    cursor: pointer;
    padding: 5px 15px;
    margin-bottom: 12px;

    width: 90%;
}

.chats--channel-active {
    background-color: rgba(255, 255, 255, .2);
    color: #fff;
    font-weight: 700;

    border-radius: 5px;
}

