* {
    transition: all ease .3s;   
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;    
    font-family: "Lato", sans-serif;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, .2);
    border-radius: 5px;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-ac {
    align-items: center;
}

.flex-sb {
    justify-content: space-between;
}

.flex-sa{
    justify-content: space-around;
}

.flex-jc {
    justify-content: center;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    background: url(images/background.png) no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
}

.chats {
    width: 5%;

    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 0;
}

.chats--chat1 {
    background-color: #FF5733;
    padding: 12px;
    border-radius: 50%;
    opacity: .5;
    margin-top: 20px;
    cursor: pointer;
}

.chats--chat1:hover {
    opacity: 1;
}

.chats--append {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #fff;
    opacity: .1;
    width: 25px;
    height: 25px;

    padding: 12px;
    border-radius: 50%;
    margin-top: auto;
    cursor: pointer;
}

.chats--append:hover {
    opacity: 1; 
}

.channels {
    width: 20%;
    padding: 0 25px;

    background: rgba(37, 39, 42, 0.7);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
}

.chat-area {
    width: 60%;

    background-color: #fff;

    display: flex;
    flex-direction: column;
}

.user-info {
    width: 15%;

    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
}

.channels--setting {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    color: #fff;
    font-size: 20px;
    font-weight: 700;
}

.channels--treads {
    width: 40%;
    color: #B5B5B5;
    font-size: 14px;
    font-weight: 400;
}

.channels--list {
    height: 40%;
    overflow: hidden;
}

.list--header {
    color: #B5B5B5;
    font-size: 12px;
    font-weight: 700;
}

.list--chats {
    height: 80%;
    overflow-y: auto;
}

.chats--channel {
    font-weight: 400;
    font-size: 14px;
    color: #B5B5B5;

    cursor: pointer;
    padding: 5px 15px;
    margin-bottom: 12px;

    width: 85%;
}

.chats--channel-active {
    background-color: rgba(255, 255, 255, .2);
    color: #fff;
    font-weight: 700;

    border-radius: 5px;
}

.friend--status-point-active {
    background-color: rgb(112, 204, 22);
    border-radius: 50%;
    width: 8px;
    height: 8px;
}

.friends--list {
    overflow: auto;
    height: 40%;
}

.list--friend {
    margin-bottom: 10px;
}

.friend--status-point {
    background-color: rgb(102, 102, 102);
    border-radius: 50%;
    width: 8px;
    height: 8px;
}

.friend--avatar {
    background: url(images/Photo.png) no-repeat center center;
    width: 32px;
    height: 32px;

    border-radius: 5px;
}

.friend--name {
    color: #B5B5B5;
    font-size: 14px;
    font-weight: 400;
}

.header {
    padding: 30px 15px;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
}

.header--title {
    font-size: 20px;
    font-weight: 700;
    width: 60%;
}

.count-peoples {
    color: #8D8D8D;
    font-size: 14px;
    font-weight: 400;
    padding: 0 10px;
}

.search-bar {
    border: 1px solid #8D8D8D;

    border-radius: 5px;
    padding: 8px 16px;

    width: 40%;
}

.search-bar svg {
    cursor: pointer;
}

.search-bar--input {
    color: #8D8D8D;
    font-size: 14px;
    font-weight: 400px;

    border: none;
    outline: none;
}

.tools-icons {
    width: 10%;
    padding: 0 10px;
}

.user-name {
    padding: 10px;
}

.user-name h1 {
    margin: 0;
    padding: 0;
}

.user-name h3 {
    font-size: 12px;
    font-weight: 400;
    color: #5F6164;
    margin: 0;
    padding: 0;
}

.social-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;

    padding: 10px;
}

.social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-color: #E8E8EB;
    border-radius: 50%;
    height: 20px;
    width: 20px;

    cursor: pointer;
}

.user-buttons {
    padding: 10px;
}

.user-button {
    background-color: #3577EF;
    border-radius: 5px;

    outline: none;
    border: none;

    color: white;
    font-weight: 700;
    font-size: 13px;
}

.message {
    padding: 5px 40px;
}

.arrow {
    padding: 5px 10px;
}

.user-info__info {
    padding: 10px;
}

.info__user-category {
    padding-bottom: 10px;
}

.info__title {
    font-weight: 400;
    font-size: 12px;
    color: #5F6164;
}

.info__content {
    font-weight: 400;
    font-size: 14px;
}

.input-area {
    border-top: 1px solid rgba(0, 0, 0, .2);
    margin-top: auto;
    padding: 15px;
}

.attachment-ico {
    width: 5%;
    cursor: pointer;
}

.micro-ico {
    width: 5%;
    cursor: pointer;
}

.input {
    width: 85%;
    cursor: pointer;
}

.smile-ico {
    width: 5%;
    cursor: pointer;
}

.input input {
    width: 100%;
    height: 100%;

    border: none;
    outline: none;
}

.messages {
    overflow: auto; 
}

.one-message {
    padding: 20px;
}

.avatar {
    background-image: url(images/Photo.png);
    width: 32px;
    height: 32px;
    border-radius: 5px;
    margin-right: 10px;
}

.name-time h5, .name-time p {
    margin: 0;
    font-size: 12px;
}

.name-time h5 {
    font-weight: 700;
    margin-right: 5px;
}

.name-time p {
    font-weight: 400px;
    color: #8D8D8D;
}

.date {
    width: 100%;
    color: #8D8D8D;
}

.image {
    background-image: url(https://cdn.pixabay.com/photo/2020/03/29/19/19/winter-4981928_1280.jpg);
    background-size: cover;
    width: 300px;
    height: 220px;
    margin: 10px 0;
    border-radius: 10px;
}

.date::before, .date::after {
    content: '';
    height: 1px;
    background: #000;
    width: 35%;
    margin: 0 10px;
    background-color: #8D8D8D;
}


